In [1]:
import pandas as pd
import os
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
import warnings

In [2]:
# import all data that need to be processed
# Air and Climate
files_air_and_climate = os.listdir('../data/Air and Climate')
df_name_air_and_climate = []
# import csv with '_preprocessed' in name but "_imputed" not in name as pd.DataFrame
for file in files_air_and_climate:
    if '_processed' in file and '_imputed' not in file:
        globals()[file[:-4]] = pd.read_csv('../data/Air and Climate/' + file)
        df_name_air_and_climate.append(file[:-4])
        # print dataframe name
        print(file[:-4])
# Inland Water Resources
files_inland_water_resources = os.listdir('../data/Inland Water Resources')
df_name_inland_water_resources = []
# import csv with '_preprocessed' in name as pd.DataFrame
for file in files_inland_water_resources:
    if '_processed' in file and '_imputed' not in file:
        globals()[file[:-4]] = pd.read_csv('../data/Inland Water Resources/' + file)
        df_name_inland_water_resources.append(file[:-4])
        # print dataframe name
        print(file[:-4])
# Waste
files_waste = os.listdir('../data/Waste')
df_name_waste = []
# import csv with '_preprocessed' in name as pd.DataFrame
for file in files_waste:
    if '_processed' in file and '_imputed' not in file:
        globals()[file[:-4]] = pd.read_csv('../data/Waste/' + file)
        df_name_waste.append(file[:-4])
        # print dataframe name
        print(file[:-4])

CO2_Emissions_processed
NOx_Emissions_processed
GHG_Emissions_processed
SO2_emissions_processed
CH4_Emissions_processed
N2O_Emissions_processed
Wastewater generated_processed
Actual evapotranspiration_processed
Population connected to wastewater treatment_processed
Freshwater abstracted_processed
Total population supplied by water supply industry_processed
Inflow of surface and goundwaters from neighbouring countries_processed
Net freshwater supplied by water supply industry to households_processed
Internal flow_processed
Wastewater treated in other treatment plants_processed
Fresh surface water abstracted_processed
Precipitation_processed
Non-treated wastewater_processed
Wastewater treated in independent treatment facilities_processed
Renewable freshwater resources_processed
Wastewater treated in urban treatment plants_processed
Net freshwater supplied by water supply industry_processed
Renewable freshwater resources per capita_processed
Population connected to wastewater collecting system_processed
Fresh groundwater abstracted_processed
Hazardous waste generated per capita_processed
Hazardous waste landfilled_processed
Hazardous waste incinerated_processed
Hazardous waste treated or disposed_processed
Hazardous waste recycled_processed
Hazardous waste generated_processed

In [3]:
# convert '...' and 'NaN' into np.nan
# remove ',' in numbers
for df_name in df_name_air_and_climate:
    globals()[df_name] = globals()[df_name].replace('...', np.nan)
    globals()[df_name] = globals()[df_name].replace('NaN', np.nan)
    globals()[df_name] = globals()[df_name].replace(',', '', regex=True)
for df_name in df_name_inland_water_resources:
    globals()[df_name] = globals()[df_name].replace('...', np.nan)
    globals()[df_name] = globals()[df_name].replace('NaN', np.nan)
    globals()[df_name] = globals()[df_name].replace(',', '', regex=True)
for df_name in df_name_waste:
    globals()[df_name] = globals()[df_name].replace('...', np.nan)
    globals()[df_name] = globals()[df_name].replace('NaN', np.nan)
    globals()[df_name] = globals()[df_name].replace(',', '', regex=True)

In [4]:
# show all column names in jyuptyer notebook
pd.set_option('display.max_columns', None)
globals()['CO2_Emissions_processed'].head()

,Country ID,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,Latest Year,1000 t,%,kg,Basel Convention,CITES,Convention on Biological Diversity,Convention on Migratory Species,Kyoto Protocol,Montreal Protocol,Paris Agreement,Ramsar Convention,Rotterdam Convention,Stockholm Convention,UN Convention on the Law of the Sea,UN Convention to Combat Desertification,UN Framework Convention on Climate Change,World Heritage Convention,1990 Percent Change,1991 Percent Change,1992 Percent Change,1993 Percent Change,1994 Percent Change,1995 Percent Change,1996 Percent Change,1997 Percent Change,1998 Percent Change,1999 Percent Change,2000 Percent Change,2001 Percent Change,2002 Percent Change,2003 Percent Change,2004 Percent Change,2005 Percent Change,2006 Percent Change,2007 Percent Change,2008 Percent Change,2009 Percent Change,2010 Percent Change,2011 Percent Change,2012 Percent Change,2013 Percent Change,2014 Percent Change,2015 Percent Change,2016 Percent Change,2017 Percent Change
0,4,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3222.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9851.0,NaN,NaN,NaN,NaN,NaN,2013,9851.00,NaN,0.31,2013,1985,2002,2015,2013,2004.0,2017,NaN,2013,2013,NaN,1995.0,2002.0,1979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,Albania,3101.66,5166.7,3311.06,3235.47,3500.49,3477.42,3341.56,3426.64,4139.06,4478.33,3507.90,4224.1,4283.95,4614.75,4939.11,4953.33,4944.38,5395.06,5530.3,5942.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009,5942.57,91.59,2.00,1999,2003,1994,2001,2005,1999.0,2016,1996,2010,2004,2003,2000.0,1994.0,1989,66.578542,-35.915381,-2.282955,8.191082,-0.659051,-3.906919,2.546116,20.790629,8.196789,-21.669462,20.416774,1.41687,7.721845,7.028766,0.287906,-0.180687,9.114995,2.506738,7.454749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12,Algeria,NaN,NaN,NaN,NaN,63705.00,NaN,NaN,NaN,NaN,NaN,71593.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000,71593.26,NaN,2.31,1998,1983,1995,2005,2005,1992.0,2016,1984,NaN,2006,1996,1996.0,1993.0,1974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,24,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16317.00,NaN,NaN,NaN,NaN,27809.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005,27809.00,NaN,1.43,2017,2013,1998,2006,2007,2000.0,NaN,NaN,NaN,2006,1990,1997.0,2000.0,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,28,Antigua and Barbuda,288.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,371.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000,371.88,29.06,4.89,1993,1997,1993,2007,1998,1992.0,2016,2005,2010,2003,1989,1997.0,1993.0,1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# # split dataframes into two parts: columns need to be interpolated and columns don't need to be interpolated
# # convert '...' and 'NaN' into np.nan
# # Air and Climate
# df_name_air_and_climate_need_interpolation = []
# df_name_air_and_climate_no_need_interpolation = []
# for df_name in df_name_air_and_climate:
#     globals()[df_name] = globals()[df_name].replace('...', None)
#     globals()[df_name] = globals()[df_name].replace('NaN', None)
#     # split dataframes into two parts: columns need to be interpolated and columns don't need to be interpolated
#     globals()[df_name + '_need_interpolation'] = globals()[df_name].iloc[:, 2:31]
#     globals()[df_name + '_no_need_interpolation'] = globals()[df_name].iloc[:, 0:2] + globals()[df_name].iloc[:, 31:]
#     # save dataframe names
#     df_name_air_and_climate_need_interpolation.append(df_name + '_need_interpolation')
#     df_name_air_and_climate_no_need_interpolation.append(df_name + '_no_need_interpolation')

In [6]:
# df_name = 'CO2_Emissions_processed_need_interpolation'
# globals()[df_name].columns = pd.to_datetime(globals()[df_name].columns, format='%Y').year
# # globals()[df_name].dropna(thresh=2, axis=0)
# globals()[df_name+'_interpolated'] = globals()[df_name].dropna(thresh=3, axis=0).interpolate(method='time', order=2, axis=1, limit_direction='both', limit=27)
# globals()[df_name+'_interpolated'].columns = pd.to_datetime(globals()[df_name+'_interpolated'].columns, format='%Y').year
# # update the original dataframe
# globals()[df_name].update(globals()[df_name+'_interpolated'], overwrite=True)
# globals()[df_name]

In [7]:
col_name = globals()['CO2_Emissions_processed'].columns
col_name[-1].split(' ')[0]

'2017'

In [8]:
# Impute missing values
# Initiate warning control
warnings.filterwarnings('error')
# Air and Climate
for df_name in df_name_air_and_climate:
    ncol = 31
    ncol_percentage = 31 -2 -1
    for row in range(globals()[df_name].shape[0]):
        # if the row has less than 3 non-NaN values or all values are non-NaN, skip
        if globals()[df_name].iloc[row, 2:ncol].notnull().sum() < 3:
            continue
        elif globals()[df_name].iloc[row, 2:ncol].isnull().sum() == 0:
            try: 
                # read the final 28 column names and fill in the percentage change according to the first part of the column name
                col_name = globals()[df_name].columns
                for i in range(1, ncol_percentage+1):
                    per_year_name = col_name[i*-1]
                    # access the first part of it by splitting the string
                    year_name = int(per_year_name.split(' ')[0])
                    # calculate the percentage change
                    globals()[df_name].at[row, per_year_name] = (globals()[df_name].at[row, str(year_name+1)] - globals()[df_name].at[row, str(year_name)]) / globals()[df_name].at[row, str(year_name)]
            except RuntimeWarning:
                print('RuntimeWarning: probably due to division by zero in row ' + str(row) + ' of ' + df_name)
        else:
            # fit an logistic regression model to predict the missing values
            # select data that is not NaN in the row as training data
            X_train = globals()[df_name].iloc[row, 2:ncol][~globals()[df_name].iloc[row, 2:ncol].isnull()].index.values.astype('int64').reshape(-1, 1)
            y_train = globals()[df_name].iloc[row, 2:ncol][~globals()[df_name].iloc[row, 2:ncol].isnull()].values.astype('float64')
            # fit a Polynomial Regression model
            poly_reg = PolynomialFeatures(degree=2)
            X_poly = poly_reg.fit_transform(X_train)
            lin_reg = LinearRegression()
            lin_reg.fit(X_poly, y_train)
            # predict the missing values
            X_test = globals()[df_name].iloc[row, 2:ncol][globals()[df_name].iloc[row, 2:ncol].isnull()].index.values.astype('int64').reshape(-1, 1)
            y_pred = lin_reg.predict(poly_reg.fit_transform(X_test))
            try: 
                # read the final 28 column names and fill in the percentage change according to the first part of the column name
                col_name = globals()[df_name].columns
                for i in range(1, ncol_percentage+1):
                    per_year_name = col_name[i*-1]
                    # access the first part of it by splitting the string
                    year_name = int(per_year_name.split(' ')[0])
                    # calculate the percentage change
                    globals()[df_name].at[row, per_year_name] = (globals()[df_name].at[row, str(year_name+1)] - globals()[df_name].at[row, str(year_name)]) / globals()[df_name].at[row, str(year_name)]
            except RuntimeWarning:
                print('RuntimeWarning: probably due to division by zero in row ' + str(row) + ' of ' + df_name)
    # save the imputed dataframe
    globals()[df_name].to_csv('../data/Air and Climate/' + df_name + '_imputed.csv', index=False)
    print(df_name + ' imputed')

CO2_Emissions_processed imputed
NOx_Emissions_processed imputed
GHG_Emissions_processed imputed
RuntimeWarning: probably due to division by zero in row 89 of SO2_emissions_processed
SO2_emissions_processed imputed
RuntimeWarning: probably due to division by zero in row 124 of CH4_Emissions_processed
CH4_Emissions_processed imputed
N2O_Emissions_processed imputed

In [9]:
# Inland Water Resources
for df_name in df_name_inland_water_resources:
    ncol = 26
    ncol_percentage = 17
    for row in range(globals()[df_name].shape[0]):
        # if the row has less than 3 non-NaN values or all values are non-NaN, skip
        if globals()[df_name].iloc[row, 2:26].notnull().sum() < 3:
            # print(df_name + ' row ' + str(row) + ' skipped')
            continue
        elif globals()[df_name].iloc[row, 2:26].isnull().sum() == 0:
            try: 
                # read the final 28 column names and fill in the percentage change according to the first part of the column name
                col_name = globals()[df_name].columns
                for i in range(1, ncol_percentage+1):
                    per_year_name = col_name[i*-1]
                    # access the first part of it by splitting the string
                    year_name = int(per_year_name.split(' ')[0])
                    # calculate the percentage change
                    globals()[df_name].at[row, per_year_name] = (globals()[df_name].at[row, str(year_name+1)] - globals()[df_name].at[row, str(year_name)]) / globals()[df_name].at[row, str(year_name)]
            except RuntimeWarning:
                print('RuntimeWarning: probably due to division by zero in row ' + str(row) + ' of ' + df_name)
        else:
            # fit an logistic regression model to predict the missing values
            # select data that is not NaN in the row as training data
            X_train = globals()[df_name].iloc[row, 2:ncol][~globals()[df_name].iloc[row, 2:ncol].isnull()].index.values.astype('int64').reshape(-1, 1)
            y_train = globals()[df_name].iloc[row, 2:ncol][~globals()[df_name].iloc[row, 2:ncol].isnull()].values.astype('float64')
            # fit a Polynomial Regression model
            poly_reg = PolynomialFeatures(degree=2)
            X_poly = poly_reg.fit_transform(X_train)
            lin_reg = LinearRegression()
            lin_reg.fit(X_poly, y_train)
            # predict the missing values
            X_test = globals()[df_name].iloc[row, 2:ncol][globals()[df_name].iloc[row, 2:ncol].isnull()].index.values.astype('int64').reshape(-1, 1)
            y_pred = lin_reg.predict(poly_reg.fit_transform(X_test))
            # update the original dataframe based on X_test and y_pred using DataFrame.at
            for i in range(len(X_test)):
                globals()[df_name].at[row, str(X_test[i][0])] = y_pred[i]
            try: 
                # read the final 28 column names and fill in the percentage change according to the first part of the column name
                col_name = globals()[df_name].columns
                for i in range(1, ncol_percentage+1):
                    per_year_name = col_name[i*-1]
                    # access the first part of it by splitting the string
                    year_name = int(per_year_name.split(' ')[0])
                    # calculate the percentage change
                    globals()[df_name].at[row, per_year_name] = (globals()[df_name].at[row, str(year_name+1)] - globals()[df_name].at[row, str(year_name)]) / globals()[df_name].at[row, str(year_name)]
            except RuntimeWarning:
                print('RuntimeWarning: probably due to division by zero in row ' + str(row) + ' of ' + df_name)
    # save the imputed dataframe
    globals()[df_name].to_csv('../data/Inland Water Resources/' + df_name + '_imputed.csv', index=False)
    print(df_name + ' imputed')

Wastewater generated_processed imputed
Actual evapotranspiration_processed imputed
RuntimeWarning: probably due to division by zero in row 44 of Population connected to wastewater treatment_processed
RuntimeWarning: probably due to division by zero in row 60 of Population connected to wastewater treatment_processed
RuntimeWarning: probably due to division by zero in row 64 of Population connected to wastewater treatment_processed
Population connected to wastewater treatment_processed imputed
RuntimeWarning: probably due to division by zero in row 91 of Freshwater abstracted_processed
Freshwater abstracted_processed imputed
Total population supplied by water supply industry_processed imputed
RuntimeWarning: probably due to division by zero in row 9 of Inflow of surface and goundwaters from neighbouring countries_processed
RuntimeWarning: probably due to division by zero in row 14 of Inflow of surface and goundwaters from neighbouring countries_processed
RuntimeWarning: probably due to division by zero in row 15 of Inflow of surface and goundwaters from neighbouring countries_processed
RuntimeWarning: probably due to division by zero in row 17 of Inflow of surface and goundwaters from neighbouring countries_processed
RuntimeWarning: probably due to division by zero in row 18 of Inflow of surface and goundwaters from neighbouring countries_processed
RuntimeWarning: probably due to division by zero in row 20 of Inflow of surface and goundwaters from neighbouring countries_processed
RuntimeWarning: probably due to division by zero in row 21 of Inflow of surface and goundwaters from neighbouring countries_processed
RuntimeWarning: probably due to division by zero in row 22 of Inflow of surface and goundwaters from neighbouring countries_processed
RuntimeWarning: probably due to division by zero in row 32 of Inflow of surface and goundwaters from neighbouring countries_processed
RuntimeWarning: probably due to division by zero in row 36 of Inflow of surface and goundwaters from neighbouring countries_processed
RuntimeWarning: probably due to division by zero in row 39 of Inflow of surface and goundwaters from neighbouring countries_processed
RuntimeWarning: probably due to division by zero in row 44 of Inflow of surface and goundwaters from neighbouring countries_processed
RuntimeWarning: probably due to division by zero in row 46 of Inflow of surface and goundwaters from neighbouring countries_processed
RuntimeWarning: probably due to division by zero in row 47 of Inflow of surface and goundwaters from neighbouring countries_processed
RuntimeWarning: probably due to division by zero in row 49 of Inflow of surface and goundwaters from neighbouring countries_processed
RuntimeWarning: probably due to division by zero in row 60 of Inflow of surface and goundwaters from neighbouring countries_processed
RuntimeWarning: probably due to division by zero in row 62 of Inflow of surface and goundwaters from neighbouring countries_processed
RuntimeWarning: probably due to division by zero in row 66 of Inflow of surface and goundwaters from neighbouring countries_processed
RuntimeWarning: probably due to division by zero in row 75 of Inflow of surface and goundwaters from neighbouring countries_processed
Inflow of surface and goundwaters from neighbouring countries_processed imputed
Net freshwater supplied by water supply industry to households_processed imputed
RuntimeWarning: probably due to division by zero in row 13 of Internal flow_processed
RuntimeWarning: probably due to division by zero in row 33 of Internal flow_processed
RuntimeWarning: probably due to division by zero in row 37 of Internal flow_processed
Internal flow_processed imputed
RuntimeWarning: probably due to division by zero in row 0 of Wastewater treated in other treatment plants_processed
RuntimeWarning: probably due to division by zero in row 1 of Wastewater treated in other treatment plants_processed
RuntimeWarning: probably due to division by zero in row 19 of Wastewater treated in other treatment plants_processed
RuntimeWarning: probably due to division by zero in row 20 of Wastewater treated in other treatment plants_processed
RuntimeWarning: probably due to division by zero in row 23 of Wastewater treated in other treatment plants_processed
Wastewater treated in other treatment plants_processed imputed
RuntimeWarning: probably due to division by zero in row 5 of Fresh surface water abstracted_processed
RuntimeWarning: probably due to division by zero in row 6 of Fresh surface water abstracted_processed
RuntimeWarning: probably due to division by zero in row 7 of Fresh surface water abstracted_processed
RuntimeWarning: probably due to division by zero in row 11 of Fresh surface water abstracted_processed
RuntimeWarning: probably due to division by zero in row 18 of Fresh surface water abstracted_processed
RuntimeWarning: probably due to division by zero in row 65 of Fresh surface water abstracted_processed
RuntimeWarning: probably due to division by zero in row 67 of Fresh surface water abstracted_processed
RuntimeWarning: probably due to division by zero in row 71 of Fresh surface water abstracted_processed
RuntimeWarning: probably due to division by zero in row 73 of Fresh surface water abstracted_processed
RuntimeWarning: probably due to division by zero in row 86 of Fresh surface water abstracted_processed
RuntimeWarning: probably due to division by zero in row 108 of Fresh surface water abstracted_processed
Fresh surface water abstracted_processed imputed
Precipitation_processed imputed
RuntimeWarning: probably due to division by zero in row 2 of Non-treated wastewater_processed
RuntimeWarning: probably due to division by zero in row 5 of Non-treated wastewater_processed
RuntimeWarning: probably due to division by zero in row 17 of Non-treated wastewater_processed
RuntimeWarning: probably due to division by zero in row 26 of Non-treated wastewater_processed
Non-treated wastewater_processed imputed
RuntimeWarning: probably due to division by zero in row 0 of Wastewater treated in independent treatment facilities_processed
RuntimeWarning: probably due to division by zero in row 1 of Wastewater treated in independent treatment facilities_processed
RuntimeWarning: probably due to division by zero in row 2 of Wastewater treated in independent treatment facilities_processed
RuntimeWarning: probably due to division by zero in row 9 of Wastewater treated in independent treatment facilities_processed
Wastewater treated in independent treatment facilities_processed imputed
RuntimeWarning: probably due to division by zero in row 34 of Renewable freshwater resources_processed
Renewable freshwater resources_processed imputed
RuntimeWarning: probably due to division by zero in row 43 of Wastewater treated in urban treatment plants_processed
Wastewater treated in urban treatment plants_processed imputed
Net freshwater supplied by water supply industry_processed imputed
RuntimeWarning: probably due to division by zero in row 34 of Renewable freshwater resources per capita_processed
Renewable freshwater resources per capita_processed imputed
RuntimeWarning: probably due to division by zero in row 89 of Population connected to wastewater collecting system_processed
Population connected to wastewater collecting system_processed imputed
RuntimeWarning: probably due to division by zero in row 21 of Fresh groundwater abstracted_processed
RuntimeWarning: probably due to division by zero in row 31 of Fresh groundwater abstracted_processed
Fresh groundwater abstracted_processed imputed

In [10]:
df_name = "Hazardous waste recycled_processed"
globals()[df_name].iloc[:, 2:26]

,1990,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.0000,0.000000
2,NaN,NaN,NaN,NaN,0,0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,2362.00,2340.00000,2286.000000,5154.000000,7983.000000,4059.000000,2290.000000,3766.800049,12948.2998,1636.900024
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,196956.000000,NaN,86393.000000,NaN,164800.000000,NaN,161018.0000,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,11435.0,395.0,728.0,1359.0,3836.0,4911.00,3263.00,4926.00,4741.00,18739.09961,5548.200195,3619.100098,6316.600098,618.400024,3163.399902,5174.899902,47845.0000,5452.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254814.000000,NaN,513590.000000,NaN,674066.000000,NaN,751742.0000,NaN
73,0.200000003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,0.62,0.62,0.69,0.75,0.75000,0.800000,0.800000,0.870000,0.870000,1.000000,1.000000,NaN,NaN
74,NaN,NaN,NaN,NaN,NaN,NaN,10000.0,NaN,NaN,NaN,NaN,25000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
for df_name in df_name_waste:
    print(df_name)
    print(globals()[df_name].iloc[:, 2:26].columns)

Hazardous waste generated per capita_processed
Index(['1990', '1995', '1996', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', 'Footnotes 1990', 'Footnotes 1995',
       'Footnotes 1996'],
      dtype='object')
Hazardous waste landfilled_processed
Index(['1990', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017'],
      dtype='object')
Hazardous waste incinerated_processed
Index(['1990', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017'],
      dtype='object')
Hazardous waste treated or disposed_processed
Index(['1990', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017'],
      dtype='object')
Hazardous waste recycled_processed
Index(['1990', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017'],
      dtype='object')
Hazardous waste generated_processed
Index(['1990', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017'],
      dtype='object')

In [13]:
# Waste
for df_name in df_name_waste:
    i_col = 26
    i_col_percentage = 17
    if df_name == "Hazardous waste generated per capita_processed":
        i_col = 23
        i_col_percentage = 17
    for row in range(globals()[df_name].shape[0]):
        # if the row has less than 3 non-NaN values or all values are non-NaN, skip
        if globals()[df_name].iloc[row, 2:i_col].notnull().sum() < 3 or globals()[df_name].iloc[row, 2:i_col].isnull().sum() == 0:
            continue
        else:
            # fit an logistic regression model to predict the missing values
            # select data that is not NaN in the row as training data
            X_train = globals()[df_name].iloc[row, 2:i_col][~globals()[df_name].iloc[row, 2:i_col].isnull()].index.values.astype('int64').reshape(-1, 1)
            y_train = globals()[df_name].iloc[row, 2:i_col][~globals()[df_name].iloc[row, 2:i_col].isnull()].values.astype('float64')
            # fit a Polynomial Regression model
            poly_reg = PolynomialFeatures(degree=2)
            X_poly = poly_reg.fit_transform(X_train)
            lin_reg = LinearRegression()
            lin_reg.fit(X_poly, y_train)
            # predict the missing values
            X_test = globals()[df_name].iloc[row, 2:i_col][globals()[df_name].iloc[row, 2:i_col].isnull()].index.values.astype('int64').reshape(-1, 1)
            y_pred = lin_reg.predict(poly_reg.fit_transform(X_test))
            # update the original dataframe based on X_test and y_pred using DataFrame.at
            for i in range(len(X_test)):
                globals()[df_name].at[row, str(X_test[i][0])] = y_pred[i]
    # save the imputed dataframe
    globals()[df_name].to_csv('../data/Waste/' + df_name + '_imputed.csv', index=False)
    print(df_name + ' imputed')

Hazardous waste generated per capita_processed imputed
Hazardous waste landfilled_processed imputed
Hazardous waste incinerated_processed imputed
Hazardous waste treated or disposed_processed imputed
Hazardous waste recycled_processed imputed
Hazardous waste generated_processed imputed